<a href="https://colab.research.google.com/github/dpermana-ops/PengalamanBelajar/blob/main/Assignment_Day_3_Denny_Permana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
# Build Data record

ds_nama = ['Denny Permana', 'Arie Hendarin', 'Hendra Wardhana', 'Yeni Zahrini', 'Titi Inayati', 'Ismet Wijaya', 'Agus Rinaldi',
          'Rizal Irawan', 'Linda Catalina', 'Hasna Fauziah']
ds_tmpt_lahir = ['Jakarta','Jakarta','Bogor','Pekanbaru','Manado','Bandung','Bandung','Padang','Lampung','Makasar']
ds_tgl_lahir = [
    '02/02/1980','07/09/1997','12/12/2002','10/11/1950','04/05/2008','11/04/1969','09/25/2000','04/04/2010',
    '11/02/2003','08/03/1998'
]
ds_tgl_blnja = [
    '02/18/2022','07/04/2021','11/12/2021','10/11/2021','05/08/2022','09/19/2021','06/25/2022','02/02/2022','10/07/2021',
    '01/03/2022'
]
ds_rata2_blnja = [1500000, 50000, 75000, 300000, 350000, 70000, 340000, 100000, 85000, 2300000]
ds_total_trx = [7, 3, 6, 2, 5, 4, 6, 9, 10, 1]

In [4]:
 ## Dimasukkan ke dalam satu variable data source

ds = {'Nama': ds_nama, 'Tempat_Lahir': ds_tmpt_lahir, 'Tanggal_Lahir': ds_tgl_lahir, 
      'Tanggal_Terakhir_Belanja': ds_tgl_blnja, 'Rata2_Belanja_perbulan': ds_rata2_blnja, 
      'Total_Transaksi_perbulan': ds_total_trx}

In [5]:
df = pd.DataFrame(data=ds)

In [6]:
df

,Nama,Tempat_Lahir,Tanggal_Lahir,Tanggal_Terakhir_Belanja,Rata2_Belanja_perbulan,Total_Transaksi_perbulan
0,Denny Permana,Jakarta,02/02/1980,02/18/2022,1500000,7
1,Arie Hendarin,Jakarta,07/09/1997,07/04/2021,50000,3
2,Hendra Wardhana,Bogor,12/12/2002,11/12/2021,75000,6
3,Yeni Zahrini,Pekanbaru,10/11/1950,10/11/2021,300000,2
4,Titi Inayati,Manado,04/05/2008,05/08/2022,350000,5
5,Ismet Wijaya,Bandung,11/04/1969,09/19/2021,70000,4
6,Agus Rinaldi,Bandung,09/25/2000,06/25/2022,340000,6
7,Rizal Irawan,Padang,04/04/2010,02/02/2022,100000,9
8,Linda Catalina,Lampung,11/02/2003,10/07/2021,85000,10
9,Hasna Fauziah,Makasar,08/03/1998,01/03/2022,2300000,1

In [7]:
# Mengecek type data

In [8]:
df.dtypes

Nama                        object
Tempat_Lahir                object
Tanggal_Lahir               object
Tanggal_Terakhir_Belanja    object
Rata2_Belanja_perbulan       int64
Total_Transaksi_perbulan     int64
dtype: object

In [9]:
# Mengubah type data agar sesuai 

data_types = {
    'Nama':'string',
    'Tempat_Lahir':'string',
    'Tanggal_Lahir':'datetime64',
    'Tanggal_Terakhir_Belanja':'datetime64',
    'Rata2_Belanja_perbulan':'int32',
    'Total_Transaksi_perbulan':'int8'
}

In [10]:
df = df.astype(data_types)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nama                      10 non-null     string
 1   Tempat_Lahir              10 non-null     string
 2   Tanggal_Lahir             10 non-null     datetime64[ns]
 3   Tanggal_Terakhir_Belanja  10 non-null     datetime64[ns]
 4   Rata2_Belanja_perbulan    10 non-null     int32
 5   Total_Transaksi_perbulan  10 non-null     int8
dtypes: datetime64[ns](2), int32(1), int8(1), string(2)
memory usage: 498.0 bytes

In [12]:
## Type data telah sesuai

In [13]:
df

,Nama,Tempat_Lahir,Tanggal_Lahir,Tanggal_Terakhir_Belanja,Rata2_Belanja_perbulan,Total_Transaksi_perbulan
0,Denny Permana,Jakarta,1980-02-02,2022-02-18,1500000,7
1,Arie Hendarin,Jakarta,1997-07-09,2021-07-04,50000,3
2,Hendra Wardhana,Bogor,2002-12-12,2021-11-12,75000,6
3,Yeni Zahrini,Pekanbaru,1950-10-11,2021-10-11,300000,2
4,Titi Inayati,Manado,2008-04-05,2022-05-08,350000,5
5,Ismet Wijaya,Bandung,1969-11-04,2021-09-19,70000,4
6,Agus Rinaldi,Bandung,2000-09-25,2022-06-25,340000,6
7,Rizal Irawan,Padang,2010-04-04,2022-02-02,100000,9
8,Linda Catalina,Lampung,2003-11-02,2021-10-07,85000,10
9,Hasna Fauziah,Makasar,1998-08-03,2022-01-03,2300000,1

**MENCARI CUSTOMER YANG PALING LOYAL**

In [14]:
# 1. Customer dengan rata-rata belanja per bulan > 100000

df[['Nama','Rata2_Belanja_perbulan']][df['Rata2_Belanja_perbulan'] > 100000]

            Nama  Rata2_Belanja_perbulan
0  Denny Permana                 1500000
3   Yeni Zahrini                  300000
4   Titi Inayati                  350000
6   Agus Rinaldi                  340000
9  Hasna Fauziah                 2300000

In [15]:
# 2. Mencari Customer dengan Total Transaksi per bulan > 5 kali

df[['Nama','Rata2_Belanja_perbulan']][df['Total_Transaksi_perbulan'] > 5]

              Nama  Rata2_Belanja_perbulan
0    Denny Permana                 1500000
2  Hendra Wardhana                   75000
6     Agus Rinaldi                  340000
7     Rizal Irawan                  100000
8   Linda Catalina                   85000

In [16]:
# 3. Customer dengan rata-rata belanja per bulan > 100000 DAN Total Transaksi per bulan > 5 kali
df[['Nama', 'Rata2_Belanja_perbulan', 'Total_Transaksi_perbulan']][(df['Total_Transaksi_perbulan'] > 5) & (df['Rata2_Belanja_perbulan'] > 100000)]

            Nama  Rata2_Belanja_perbulan  Total_Transaksi_perbulan
0  Denny Permana                 1500000                         7
6   Agus Rinaldi                  340000                         6

***Kesimpulan: Customer yang Loyal adalah Denny Permana dan Agus Rinaldi karena memiliki rata2 belanja per bulan > Rp. 100.000, dan jumlah transaksi per bulan nya > 5 kali***